<main>
    <h1>Bem vindo ao Meu blog Literario</h1>
    <p>Aqui falarei um pouco dos livros que li, e dos que estou lendo.<br> Espero que goste. ;) </p>
    <%= link_to 'Ver Posts', posts_path %> 
</main>
